<!-- View Interest information -->
<h1>Interest Information</h1>
<br>
<table border="3" cellpadding="10">
	<tr>
		<tr><td><strong>Interest ID: </strong> <%= @interest.interestID %></td></tr>
		<tr><td><strong>Name:</strong> <%= @interest.name %></td></tr>
		<tr><td><strong>Details:</strong> <%= @interest.details %></td></tr>
		<tr><td><strong>PersonID Associated:</strong> <%=@interest.personID %></td></tr>
	</table>
	<!-- Edit button -->
	<div style="float:left;">
		<%= button_to "Edit", edit_interest_path(@interest), :method => :get %>
	</div>
	<!-- Delete button -->
	<div style="float:left;">
		<%= button_to "Delete", @interest, :confirm => "Are you sure you want to delete this interest? ", :method => :delete%>
	</div>
</p>
<!-- Clear formatting -->
<div style="clear:both;">
</div>
<!-- Go back to main interests page-->
<div class="btn.btn-small">
	<a href='/interests/'>
		<button class="btn.btn-small">Back To Interests</button>
	</div>