<!-- View Communication -->
<h1>Communication</h1>
<br>
<table border="3" cellpadding="10">
	<tr>
		<td><strong>Communication ID: </strong> <%= @communication.communicationID %></td>
	</tr>
	<tr><td><strong>Content:</strong> <%= @communication.content %></td>
	</tr>
	<tr><td><strong>Theme:</strong> <%= @communication.theme %></td>
	</tr>
</table>
<!-- Edit button -->
<div style="float:left;">
	<%= button_to "Edit", edit_communication_path(@communication), :method => :get %>
</div>
<!-- Delete button -->
<div style="float:left;">
	<%= button_to "Delete", @communication, :confirm => "Are you sure you want to delete this communication?", :method => :delete%>
</div>
</p>
<!-- Reset formatting -->
<div style="clear:both;">
</div>
<!-- Back button -->
<div class="btn.btn-small">
	<a href='/communication/'>
		<button class="btn.btn-small">Back To Communications</button>
	</div>



