<!-- Add new person page -->
<h1>Add a New Person</h1>
<!-- Inputs for the attributes -->
<%= form_for @person do |p| %>
Name:<%= p.text_field :name %><br />
Gender(m,f):<%= p.text_field :gender %><br />
Email:<%= p.text_field :email %><br />
Phone (000-000-0000):<%= p.text_field :phone %><br />
Contact Preference (email, phone, text):<%= p.text_field :contact_preference %><br />
Religion (Christian, Jewish, Muslim, Scientologist, Atheist, Other, Agnostic, Catholic, Protestant, Pagan, Hindu, Buddhist, Sikh, Rastafarian):<%= p.text_field :religion %><br />
Politics (Democrat, Republican, Libertarian, Apathetic, Independent, Green, Other):<%= p.text_field :politics %><br />
Birthdate (yyyy-mm-dd):<%= p.text_field :dob %><br />
Compatibility Rating on 1-10:<%= p.text_field :compatibility %><br />
<!-- Create new person pop up button to indicate success -->
<%= p.submit "Create New Person", :class => "button", :onclick => "alert('Success!')" %>
<% end -%>
<!-- Button to go back to the people main page -->
<div class="btn.btn-small">
	<a href='/people/'>
		<button class="btn.btn-small">Back To Person</button>